<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link rel="stylesheet" href="~/Content/styles/w3.css">

</head>
<body>

    <!-- Menu -->
    @Html.Partial("~/Views/Shared/_yanMenu.cshtml")

    <div class="super_container">

        <!-- Header -->
        @Html.Partial("~/Views/Shared/_Header.cshtml")

        <div class="super_container_inner">
            <div class="super_overlay"></div>

            <!-- Body -->
            @RenderBody()


            <!-- Footer -->
            @Html.Partial("~/Views/Shared/_Footer.cshtml")

        </div>
    </div>

    <!-- Home -->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/Content/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/Content/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/plugins/easing/easing.js"></script>
    <script src="~/Content/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/Content/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <!-- Product -->
    <script src="~/Content/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/Content/js/product.js"></script>
    <!-- Cart -->
    <script src="~/Content/js/cart.js"></script>
    <!-- Category -->
    <script src="~/Content/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/plugins/Isotope/fitcolumns.js"></script>
    <script src="~/Content/js/category.js"></script>
    <!-- Checkout -->
    <script src="~/Content/js/checkout.js"></script>



    <script>
  function Validate() {
    $.ajax(
    {
      type: "POST",
      url: '@Url.Action("Kontrol", "Login")',
      data: {
          kullaniciAdi: $('#kulladi').val(),
          kullaniciSifre: $('#sifre').val()
      },
      error: function (result) {
        alert("There is a Problem, Try Again!");
      },
      success: function (result) {
        console.log(result);
        if (result.status == true) {
          window.location.href = '@Url.Action("Index", "Home")';
        }
        else {
          alert("Hatalı Giriş!");
        }
      }
    });
  }
    </script>

    

</body>
</html>

<script>
    /* */
    $(document).ready(function () {
        $.get("/popup", function (data) {
            $("#popup").attr("src", data[0].img);
        });
        document.getElementById('id01').style.display = 'block';
    });
</script>