@using EOATicaret.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    tblMusteri aktifKull = (tblMusteri)Session["kull"];

}
<link rel="stylesheet" type="text/css" href="~/Content/styles/cart.css">
<link rel="stylesheet" type="text/css" href="~/Content/styles/cart_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/styles/category.css">
<link rel="stylesheet" type="text/css" href="~/Content/styles/category_responsive.css">
<!------ Include the above in your HEAD tag ---------->
<!-- Home -->

<div class="home">
    <div class="home_container d-flex flex-column align-items-center justify-content-end">
        <div class="home_content text-center">
            <div class="home_title">Profilim Sayfası</div>
            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                <ul class="d-flex flex-row align-items-start justify-content-start text-center">Profilinizi Görüntülüyorsunuz</ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">

    <div class="col-lg-12 cart_extra_col">
        <div class="cart_extra cart_extra_2">
            <div class="cart_extra_content cart_extra_total">

                <div class="row">
                    <!-- left column -->
                    <div class="col-md-3">
                        <div class="text-center">
                            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                            <h6>Upload a different photo...</h6>

                            <input type="file" class="form-control">
                        </div>
                    </div>

                    <!-- edit form column -->
                    <div class="col-md-9 personal-info">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            Kişisel bilgilerini bu sayfada görüntüleyebilir ve güncelleyebilirsiniz.
                        </div>
                        <h3>Kişisel Bilgilerin:</h3>

                        @using (Html.BeginForm("Guncelle", "Profil", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Adın:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="musteriAdi" type="text" value="@aktifKull.musteriAdi">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Soyadın:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="musteriSoyadi" type="text" value="@aktifKull.musteriSoyadi">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Telefon:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="musteriTel" type="text" value="@aktifKull.musteriTel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Adres:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="musteriAdres" type="text" value="@aktifKull.musteriAdres">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kullanıcı Adın:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="kullaniciAdi" type="text" value="@aktifKull.kullaniciAdi">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Şifren:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="kullaniciSifre" type="password" value="" placeholder="Yeni Şifre Gir">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-8">
                                        <input type="submit" class="btn btn-primary" value="Değişiklikleri Kaydet">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />