@{
    ViewBag.Title = "Sepet";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@using EOATicaret.Models;
@model List<tblUrunler>

<link rel="stylesheet" type="text/css" href="~/Content/styles/cart.css">
<link rel="stylesheet" type="text/css" href="~/Content/styles/cart_responsive.css">

<!-- Home -->

<div class="home">
    <div class="home_container d-flex flex-column align-items-center justify-content-end">
        <div class="home_content text-center">
            <div class="home_title">Sepetim</div>
            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                    <li>Sepet işlemlerinizi burdan yönetebilirsiniz</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Cart -->

<div class="cart_section">
    <div class="container">

        <div class="col-lg-12 cart_extra_col">
            <div class="cart_extra cart_extra_2">
                <div class="cart_extra_content cart_extra_total">

                    <div class="cart_container">

                        <!-- Cart Items -->
                        <div class="cart_items">
                            <ul class="cart_items_list">


                                <!-- Cart Item -->
                                @if (Session["cart"] != null)
                                {

                                    <!-- Cart Bar -->
                                    <div class="cart_bar">
                                        <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                            <li class="mr-auto">Urun ID</li>
                                            <li></li>
                                            <li></li>
                                            <li>Fiyat</li>
                                            <li>Adet</li>
                                            <li>Toplam</li>
                                        </ul>
                                    </div>

                                    foreach (tblUrunler item in (List<tblUrunler>)Session["cart"])
                                    {
                                        <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                            <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                                <div><div class="product_number">@item.urunID</div></div>
                                                <div><div class="product_image"><img src="~/@item.urunDetayResim" alt=""></div></div>
                                                <div class="product_name_container">
                                                    <div class="product_name"><a href="/Product/Detail/@item.urunID">@item.urunAdi</a></div>
                                                    <div>Kategorisi: <a href="/Category/?kategoriID=@item.tblKategori.kategoriID">@item.tblKategori.kategoriAdi</a></div>
                                                    <div class="product_text"></div>
                                                </div>
                                            </div>
                                            <div class="product_color product_text"><span></span></div>
                                            <div class="product_size product_text"><span></span></div>
                                            <div class="product_price product_text"><span>Price: </span>@item.urunDetayFiyat ₺</div>
                                            <div class="product_quantity_container">
                                                <div class="product_quantity ml-lg-auto mr-lg-auto text-center">
                                                    <span class="product_text product_num">1</span>
                                                    <div class="qty_sub qty_button trans_200 text-center"><span>-</span></div>
                                                    <div class="qty_add qty_button trans_200 text-center"><span>+</span></div>
                                                </div>
                                            </div>
                                            <div class="product_total product_text">
                                                <span>Toplam: </span>@(String.Format("{0:N2}", item.urunDetayFiyat * 1)) ₺

                                                <form action="@Url.Action("DeleteToCart","Cart", new { id = item.urunID })" method=Post>
                                                        <button type="submit" class="btn btn-danger">Sil</button>
                                                </form>

                                            </div>
                                        </li>
                                    }

                                    <!-- Cart Buttons -->
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6 col-lg-6 margin-right-5 checkout_button"><a href="#">Sepeti Boşalt</a></div>
                                            <div class="col-xs-6 col-md-6 col-lg-6 cart_extra_col  checkout_button trans_200"><a href=@Url.Action("Index", "Purchase")>Ödeme Yap</a></div>


</div>
                                }
                                            else
                                            {
                                    <h1>Sepetiniz Boş!</h1>
                                }
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        

        $('#spnCart').on('click', function () {
            var getName = $('.divName').html();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Home/GetCartItems',

                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#exampleModal').modal({
                        backdrop: false
                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });

        $(document).delegate('.cartDel', 'click', function () {
            var DeleteItem = parseInt($(this).closest('a').prop('sil'));
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Cart/DeleteToCart',
                data: "{ 'itemId':' " + DeleteItem + "' }",
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#spnCart').html($(data).find('#cartList tbody tr').length);
                    $('#exampleModal').modal({
                        backdrop: false
                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>